﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Приложение для просмотра погоды</h1>

<h2>Стек</h2>
<p>1.Blazor Server + Razor Pages</p>
<p>2.SQLite + Entity Framework</p>
<p>3.Serilog</p>
<p>4.Docker</p>

<h2>Задание</h2>
<div>Есть сервер (Web API), который по запросу возвращает погоду. Погода случайно
генерируется каждые 30 сек. Запрос на получение погоды искусственно удерживается
сервером на 3 сек. Все логи пишутся в Seq. Так же должна быть возможность
получения истории погоды, которая хранится в БД (можно эту часть не делать в UI -
просто API).
Клиент запрашивает на сервере погоду и отображает. Должна быть возможность
прервать запрос</div>
<br />
<h2>Согласования по заданию</h2>
<div>
	<p>1. UI может быть на любом фреймворке</p>
	<p>2. Объем логируемых данных на усмотрение разработчика</p>
	<p>3. Отображаемые данных погоды на усмотрение разработчика</p>
	<p>4. Нет требований по безопасности, нагрузке</p>
	<p>5. Пользователь должен понимать, что идёт запрос</p>
</div>
<br />
<h2>Решение</h2>
<div>
	<p>
		Выбран Blazor Server овер Web API т.к. для выполнения условия п.5 вместе с возможностью прерывания запроса 
		лучше подходит ws чем http взаимодействие. SignalR под капотом у Blazor Server предоставляют лучшие возможности
		для реализации, чем RESTful API
	</p>

	<h4>Слоистая архитектура для разграничения обязанностей:</h4>
	<p>1. test-weather-app.Core - слой с абстракциями и доменными моделями</p>
	<p>2. test-weather-app.DAL - слой доступа к данным</p>
	<p>3. test-weather-app.Application - слой "бизнес"-логики приложения</p>
	<p>4. test-weather-app.Infrastructure - слой взаимодействия с внешними сервисами (здесь - Seq)</p>
	<p>5. test-weather-app.Web - Web-слой, обрабатывает запросы от UI, направляет в Application</p>

</div>
