﻿@page "/weatherHistory"

<PageTitle>История прогнозов</PageTitle>

@using test_weather_app.Application.Dto;
@using test_weather_app.Application.Handler
@using test_weather_app.Core.Domain;
@inject IHandler<WeatherForecast> WeatherHandler
@inject ICancellationHandler CancellationHandler

<h1>История прогнозов</h1>

@if (Response == null || !Response.Success)
{
    <p><em>@(Response?.ErrorMessage ?? "Loading...")</em></p>
    @if(Response == null)
    {
        <button @onclick="CancelOperation">Cancel</button>
    }
    @if (Response != null && !Response.Success)
    {
        <button @onclick="async () => await FetchData()">Retry</button>
    }
}
else
{
    <button @onclick="async () => await FetchData()">Refresh</button>
    <button @onclick="async () => await ClearHistory()">Clear History</button>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Response.Data!)
            {
                <tr>
                    <td>@forecast.Date.ToString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private Response<IEnumerable<WeatherForecast>>? Response;

    protected override async Task OnInitializedAsync()
    {
        Response = await WeatherHandler.GetAllAsync(CancellationHandler.GetCancellationToken());
    }

    private async Task FetchData()
    {
        Response = null;
        StateHasChanged();
        Response = await WeatherHandler.GetAllAsync(CancellationHandler.GetCancellationToken());
        StateHasChanged();
    }

    private async Task ClearHistory()
    {
        await WeatherHandler.ClearHistory(CancellationHandler.GetCancellationToken());
        Response = null;
        StateHasChanged();
        Response = await WeatherHandler.GetAllAsync(CancellationHandler.GetCancellationToken());
        StateHasChanged();
    }

    private void CancelOperation()
    {
        CancellationHandler.Cancel();
    }
}
