﻿@page "/weatherNow"

<PageTitle>Погода сейчас</PageTitle>

@using test_weather_app.Application.Dto;
@using test_weather_app.Application.Handler
@using test_weather_app.Core.Domain;
@inject IHandler<WeatherForecast> WeatherHandler
@inject ICancellationHandler CancellationHandler

<h1>Погода сейчас</h1>

@if (Response == null || !Response.Success)
{
    <p><em>@(Response?.ErrorMessage ?? "Loading...")</em></p>
    @if (Response == null)
    {
        <button @onclick="CancelOperation">Cancel</button>
    }
    @if (Response != null && !Response.Success)
    {
        <button @onclick="async () => await FetchData()">Retry</button>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                <td>@Response.Data.Date.ToString()</td>
                <td>@Response.Data.TemperatureC</td>
                <td>@Response.Data.TemperatureF</td>
                <td>@Response.Data.Summary</td>
                </tr>
        </tbody>
    </table>
    <button @onclick="async () => await FetchData()">Refresh</button>
}


@code {
    private Response<WeatherForecast>? Response;

    protected override async Task OnInitializedAsync()
    {
        Response = await WeatherHandler.GetLatestAsync(CancellationHandler.GetCancellationToken());
    }

    private async Task FetchData()
    {
        Response = null;
        StateHasChanged();
        Response = await WeatherHandler.GetLatestAsync(CancellationHandler.GetCancellationToken());
        StateHasChanged();
    }

    private void CancelOperation()
    {
        CancellationHandler.Cancel();
    }
}
